Weather UI and Mqtt Warning/flows (7).json
[{"id":"fe413ab2.e9c4d8","type":"tab","label":"Assignment Updated","disabled":false,"info":""},{"id":"93a4e2a2.538cc","type":"ui_switch","z":"fe413ab2.e9c4d8","name":"mode","label":"Mode","tooltip":"","group":"73d2dc18.c7d8b4","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":90,"y":80,"wires":[["297f29ac.dbc666","14b982d6.bd55ad"]]},{"id":"297f29ac.dbc666","type":"function","z":"fe413ab2.e9c4d8","name":"","func":"//flow.set(\"mode\", msg.payload);\nif(msg.payload){\n    flow.set(\"mode\", \"City & Country\");\n    msg.payload = {\"group\":{\"hide\":[\"Weather_Latitudes_&_Longitudes\"],\"show\":[\"Weather_City_&_Country\"],\"focus\":true}};\n}else{\n    \n    flow.set(\"mode\", \"Lat & Long\");\n    msg.payload = {\"group\":{\"hide\":[\"Weather_City_&_Country\"],\"show\":[\"Weather_Latitudes_&_Longitudes\"],\"focus\":true}};\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":80,"wires":[["572f93dc.90dbcc"]]},{"id":"572f93dc.90dbcc","type":"ui_ui_control","z":"fe413ab2.e9c4d8","name":"","events":"all","x":460,"y":80,"wires":[[]]},{"id":"14b982d6.bd55ad","type":"function","z":"fe413ab2.e9c4d8","name":"","func":"return{\n    payload : flow.get(\"mode\")\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":120,"wires":[["1859f2b8.872aed"]]},{"id":"1859f2b8.872aed","type":"ui_text","z":"fe413ab2.e9c4d8","group":"73d2dc18.c7d8b4","order":1,"width":0,"height":0,"name":"","label":"Mode","format":"{{msg.payload}}","layout":"col-center","x":450,"y":120,"wires":[]},{"id":"55a488b3.3458b8","type":"ui_text_input","z":"fe413ab2.e9c4d8","name":"city","label":"City","tooltip":"Enter the city name","group":"61e0a2a7.392e1c","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","topicType":"str","x":90,"y":200,"wires":[["ce9cab30.6c6808"]]},{"id":"3258a9e.ae87556","type":"ui_text_input","z":"fe413ab2.e9c4d8","name":"country","label":"Country","tooltip":"Enter the country name","group":"61e0a2a7.392e1c","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","topicType":"str","x":100,"y":240,"wires":[["982696ab.a77d38"]]},{"id":"ce9cab30.6c6808","type":"function","z":"fe413ab2.e9c4d8","name":"City Name","func":"flow.set(\"city\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":200,"wires":[[]]},{"id":"982696ab.a77d38","type":"function","z":"fe413ab2.e9c4d8","name":"Country Name","func":"flow.set(\"country\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":240,"wires":[[]]},{"id":"97b32f82.7abf9","type":"ui_text_input","z":"fe413ab2.e9c4d8","name":"lon","label":"Longitudes","tooltip":"Enter the city name","group":"745da525.73083c","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":90,"y":360,"wires":[["3bd06f7e.4eb02"]]},{"id":"12a6423b.5553ae","type":"ui_text_input","z":"fe413ab2.e9c4d8","name":"lat","label":"Latitudes","tooltip":"Enter the country name","group":"745da525.73083c","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","topicType":"str","x":90,"y":320,"wires":[["3cc3742c.2dd83c"]]},{"id":"3bd06f7e.4eb02","type":"function","z":"fe413ab2.e9c4d8","name":"Longitude","func":"flow.set(\"lon\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":360,"wires":[[]]},{"id":"3cc3742c.2dd83c","type":"function","z":"fe413ab2.e9c4d8","name":"Latitude","func":"flow.set(\"lat\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":320,"wires":[[]]},{"id":"ef490fd0.c4e4f","type":"ui_button","z":"fe413ab2.e9c4d8","name":"enter city_country","group":"61e0a2a7.392e1c","order":4,"width":"6","height":"1","passthru":false,"label":"Enter","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","topicType":"str","x":110,"y":460,"wires":[["e07ee868.0975d8"]]},{"id":"e07ee868.0975d8","type":"function","z":"fe413ab2.e9c4d8","name":"","func":"if(msg.payload){\n    return{\n        location : {\n            city : flow.get(\"city\"),\n            country : flow.get(\"country\")\n        },\n        delay : 1000*parseInt(global.get(\"delay\"))\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":460,"wires":[["22ea2fd6.2a36a"]]},{"id":"a45f5557.2d0b28","type":"openweathermap","z":"fe413ab2.e9c4d8","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":730,"y":460,"wires":[["1962b8bb.6ceca7","6e3a2ba6.a0f774","18878b10.76a945"]]},{"id":"1962b8bb.6ceca7","type":"function","z":"fe413ab2.e9c4d8","name":"","func":"global.set(\"tempc\", msg.payload.tempc);\nglobal.set(\"humidity\", msg.payload.humidity);\nglobal.set(\"pressure\", msg.payload.payload);\nglobal.set(\"windspeed\", msg.payload.windspeed);\nflow.set(\"winddirection\", msg.payload.winddirection);\nflow.set(\"sunrise\", msg.payload.sunrise);\nflow.set(\"sunset\", msg.payload.sunset);\nflow.set(\"description\", msg.payload.description);\n//global.set(\"temp\",msg.payload.tempc)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":400,"wires":[["42ba786c.82e708","c560e5d3.fbdfa8","298aab5d.775fc4","99cac4ea.a82d68","a6c98a2d.6cb1a8","caa7995c.686d08","925f2898.a3dff8","e6737e21.bc7aa","3baf1943.4ecd16","6e92d572.9185ac"]]},{"id":"6e3a2ba6.a0f774","type":"ui_text","z":"fe413ab2.e9c4d8","group":"74afc84e.828128","order":1,"width":0,"height":0,"name":"","label":"City","format":"{{msg.payload.location}}","layout":"col-center","x":930,"y":260,"wires":[]},{"id":"42ba786c.82e708","type":"ui_gauge","z":"fe413ab2.e9c4d8","name":"tempc","group":"74afc84e.828128","order":12,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{msg.payload.tempc}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1190,"y":400,"wires":[]},{"id":"c560e5d3.fbdfa8","type":"ui_gauge","z":"fe413ab2.e9c4d8","name":"humidity","group":"74afc84e.828128","order":8,"width":0,"height":0,"gtype":"donut","title":"Humidity","label":"%","format":"{{msg.payload.humidity}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1200,"y":440,"wires":[]},{"id":"298aab5d.775fc4","type":"ui_gauge","z":"fe413ab2.e9c4d8","name":"pressure","group":"74afc84e.828128","order":15,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"hPa","format":"{{msg.payload.pressure}}","min":"700","max":"1800","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1200,"y":480,"wires":[]},{"id":"99cac4ea.a82d68","type":"ui_gauge","z":"fe413ab2.e9c4d8","name":"wind speed","group":"74afc84e.828128","order":16,"width":0,"height":0,"gtype":"gage","title":"Wind Speed","label":"m/s","format":"{{msg.payload.windspeed}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1210,"y":520,"wires":[]},{"id":"a6c98a2d.6cb1a8","type":"ui_gauge","z":"fe413ab2.e9c4d8","name":"wind direction","group":"74afc84e.828128","order":17,"width":0,"height":0,"gtype":"compass","title":"Wind Direction","label":"Degrees","format":"{{msg.payload.winddirection}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1220,"y":560,"wires":[]},{"id":"9e7a80.39b7a58","type":"function","z":"fe413ab2.e9c4d8","name":"","func":"if(msg.payload){\n    return{\n        payload : flow.get(\"description\")\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":140,"wires":[["c77c360f.b21598"]]},{"id":"c05ee4cc.523078","type":"ui_button","z":"fe413ab2.e9c4d8","name":"desp","group":"74afc84e.828128","order":4,"width":"6","height":"1","passthru":false,"label":"Description","tooltip":"Audio description of the weather","color":"","bgcolor":"green","icon":"volume_up","payload":"true","payloadType":"bool","topic":"","topicType":"str","x":860,"y":140,"wires":[["9e7a80.39b7a58"]]},{"id":"c77c360f.b21598","type":"ui_audio","z":"fe413ab2.e9c4d8","name":"weather audio","group":"74afc84e.828128","voice":"Google UK English Male","always":"","x":1200,"y":140,"wires":[]},{"id":"155400d.edcd8ff","type":"ui_button","z":"fe413ab2.e9c4d8","name":"enter lat_lon","group":"745da525.73083c","order":4,"width":"6","height":"1","passthru":false,"label":"Enter","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","topicType":"str","x":90,"y":520,"wires":[["65eb6148.1efd4"]]},{"id":"65eb6148.1efd4","type":"function","z":"fe413ab2.e9c4d8","name":"","func":"\nif(msg.payload){\n    return{\n        location : {\n            lat : flow.get(\"lat\"),\n            lon : flow.get(\"lon\")\n        },\n        delay : 1000*parseInt(global.get(\"delay\"))\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":520,"wires":[["22ea2fd6.2a36a"]]},{"id":"caa7995c.686d08","type":"function","z":"fe413ab2.e9c4d8","name":"","func":"let dateObject = new Date(flow.get(\"sunrise\") * 1000);\nlet humanDateFormat = dateObject.toLocaleString();\nlet date = humanDateFormat.split(\",\");\nreturn{\n    payload : date[1]\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":600,"wires":[["14e3c178.49fa2f"]]},{"id":"14e3c178.49fa2f","type":"ui_text","z":"fe413ab2.e9c4d8","group":"74afc84e.828128","order":26,"width":0,"height":0,"name":"","label":"Sunrise","format":"{{msg.payload}}","layout":"row-spread","x":1200,"y":600,"wires":[]},{"id":"925f2898.a3dff8","type":"function","z":"fe413ab2.e9c4d8","name":"","func":"let dateObject = new Date(flow.get(\"sunset\") * 1000);\nlet humanDateFormat = dateObject.toLocaleString();\nlet date = humanDateFormat.split(\",\");\nreturn{\n    payload : date[1]\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":640,"wires":[["46915b81.1550c4"]]},{"id":"46915b81.1550c4","type":"ui_text","z":"fe413ab2.e9c4d8","group":"74afc84e.828128","order":27,"width":0,"height":0,"name":"","label":"Sunset","format":"{{msg.payload}}","layout":"row-spread","x":1190,"y":640,"wires":[]},{"id":"43ca072e.c47278","type":"openweathermap","z":"fe413ab2.e9c4d8","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":730,"y":520,"wires":[["1962b8bb.6ceca7","6e3a2ba6.a0f774","18878b10.76a945"]]},{"id":"b5687560.b0ee68","type":"function","z":"fe413ab2.e9c4d8","name":"","func":"if(msg.payload){\n    msg.payload = {\"group\":{\"show\":[\"Weather_Plots\"]}};\n}else{\n    msg.payload = {\"group\":{\"hide\":[\"Weather_Plots\"]}};\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":20,"wires":[["ec3dabb0.b67a88"]]},{"id":"e6737e21.bc7aa","type":"function","z":"fe413ab2.e9c4d8","name":"","func":"return{\n    payload: global.get(\"tempc\")\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":700,"wires":[["76d7c1a4.c8abe"]]},{"id":"42bb2c23.fd6274","type":"ui_switch","z":"fe413ab2.e9c4d8","name":"plots","label":"Plots","tooltip":"","group":"2ab8403d.ef38b","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":90,"y":20,"wires":[["b5687560.b0ee68"]]},{"id":"76d7c1a4.c8abe","type":"ui_chart","z":"fe413ab2.e9c4d8","name":"temperature chart","group":"2af3dbe6.c7dff4","order":5,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1230,"y":700,"wires":[[]]},{"id":"ec3dabb0.b67a88","type":"ui_ui_control","z":"fe413ab2.e9c4d8","name":"","events":"all","x":490,"y":20,"wires":[[]]},{"id":"3baf1943.4ecd16","type":"function","z":"fe413ab2.e9c4d8","name":"","func":"return{\n    payload : global.get(\"humidity\")\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":740,"wires":[["cc906333.8e7aa"]]},{"id":"6e92d572.9185ac","type":"function","z":"fe413ab2.e9c4d8","name":"","func":"return{\n    payload: global.get(\"windspeed\")\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":780,"wires":[["a9b3fe17.b87ec"]]},{"id":"cc906333.8e7aa","type":"ui_chart","z":"fe413ab2.e9c4d8","name":"humidity chart","group":"2af3dbe6.c7dff4","order":1,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1220,"y":740,"wires":[[]]},{"id":"a9b3fe17.b87ec","type":"ui_chart","z":"fe413ab2.e9c4d8","name":"wind speed chart","group":"2af3dbe6.c7dff4","order":9,"width":0,"height":0,"label":"Wind Speed","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1230,"y":780,"wires":[[]]},{"id":"caa1ab5f.3967d8","type":"ui_numeric","z":"fe413ab2.e9c4d8","name":"Triggering","label":"Time Interval to Update","tooltip":"","group":"73d2dc18.c7d8b4","order":4,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"100","step":1,"x":860,"y":60,"wires":[["2ed70c4.fb3aef4"]]},{"id":"2ed70c4.fb3aef4","type":"change","z":"fe413ab2.e9c4d8","name":"","rules":[{"t":"set","p":"delay","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":60,"wires":[[]]},{"id":"22ea2fd6.2a36a","type":"trigger","z":"fe413ab2.e9c4d8","name":"30s Triggering","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-30000","extend":false,"overrideDelay":true,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":495,"y":480,"wires":[["a45f5557.2d0b28","43ca072e.c47278"]],"l":false},{"id":"c9edc9d4.0b1fc8","type":"ui_dropdown","z":"fe413ab2.e9c4d8","name":"","label":"","tooltip":"","place":"Select option","group":"8e9a61dc.87a7c","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Temperature °C","value":"T","type":"str"},{"label":"Pressure Atm","value":"P","type":"str"},{"label":"Wind Speed km/h","value":"WS","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":80,"y":640,"wires":[["186b51e7.c1194e"]]},{"id":"186b51e7.c1194e","type":"function","z":"fe413ab2.e9c4d8","name":"","func":"if(msg.payload ==\"T\"){\n    global.set(\"parameter\",\"T\")\n    return {ui_control:{\"min\":5,\"max\":40}}\n}\nelse if(msg.payload ==\"P\"){\n    global.set(\"parameter\",\"Pe\")\n    return {ui_control:{\"min\":0.3,\"max\":4}}\n}\nelse if(msg.payload ==\"WS\"){\n    global.set(\"parameter\",\"WS\")\n    return {ui_control:{\"min\":5,\"max\":100}}\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":640,"wires":[["f5dce248.be489"]]},{"id":"f5dce248.be489","type":"ui_slider","z":"fe413ab2.e9c4d8","name":"","label":"Limits","tooltip":"","group":"8e9a61dc.87a7c","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"40","step":"0.1","x":350,"y":640,"wires":[["6d39bd7.c1e9944"]]},{"id":"6d39bd7.c1e9944","type":"function","z":"fe413ab2.e9c4d8","name":"","func":"if((global.get(\"parameter\")==\"T\") && (global.get(\"tempc\")>msg.payload)){\n    return {payload:\"Warning! temperature is \"+global.get(\"tempc\")+\" °C\"+ \" exceeds the limit by \" + (global.get(\"tempc\")-msg.payload).toFixed(1)+\" °C\",\n        flag: true,\n        data : (global.get(\"tempc\")-msg.payload)\n    }\n}\nelse if((global.get(\"parameter\")==\"P\") && (global.get(\"pressure\")* 0.0001>msg.payload)){\n   return {payload:\"Warning! pressure is \"+global.get(\"pressure\")* 0.0001+\" atm\"+ \" exceeds the limit by \" + (global.get(\"pressure\")-msg.payload)* 0.0001+\" atm\",\n       flag: true,\n       data : (global.get(\"pressure\")*0.0001-msg.payload)\n   }\n}\nif((global.get(\"parameter\")==\"W\") && (global.get(\"windspeed\")>msg.payload)){\n    return {payload:\"Warning! wind speed is \"+global.get(\"windspeed\")+\" km/h\"+ \" exceeds the limit by \" + (global.get(\"windspeed\")-msg.payload.toFixed(1))+\" km/h\",\n        flag: true,\n        data : (global.get(\"windspeed\")-msg.payload)\n        \n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":640,"wires":[["583cb957.0f35d8","6897d98f.90cca8"]]},{"id":"583cb957.0f35d8","type":"ui_toast","z":"fe413ab2.e9c4d8","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":630,"y":640,"wires":[[]]},{"id":"f7d78552.7939d8","type":"mqtt out","z":"fe413ab2.e9c4d8","name":"","topic":"EN2560/in/G14","qos":"","retain":"","broker":"ee9b453c.91b0e8","x":660,"y":760,"wires":[]},{"id":"6897d98f.90cca8","type":"function","z":"fe413ab2.e9c4d8","name":"","func":"if (msg.flag){\n    return{ payload : msg.data }\n}\nelse{return{payload : 0}\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":700,"wires":[["f7d78552.7939d8"]]},{"id":"18878b10.76a945","type":"debug","z":"fe413ab2.e9c4d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":645,"y":340,"wires":[],"l":false},{"id":"7ec5d21e.2cab4c","type":"inject","z":"fe413ab2.e9c4d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":435,"y":760,"wires":[["f7d78552.7939d8"]],"l":false},{"id":"73d2dc18.c7d8b4","type":"ui_group","name":"Inputs","tab":"be63eb3b.3fca78","order":4,"disp":true,"width":"6","collapse":false},{"id":"61e0a2a7.392e1c","type":"ui_group","name":"City & Country","tab":"61211701.1a1cf8","order":2,"disp":true,"width":"6","collapse":false},{"id":"745da525.73083c","type":"ui_group","name":"Latitudes & Longitudes","tab":"61211701.1a1cf8","order":3,"disp":true,"width":"6","collapse":false},{"id":"74afc84e.828128","type":"ui_group","name":"Weather Data","tab":"61211701.1a1cf8","order":5,"disp":true,"width":"6","collapse":false},{"id":"2ab8403d.ef38b","type":"ui_group","name":"Show Plots","tab":"be63eb3b.3fca78","order":1,"disp":true,"width":"6","collapse":false},{"id":"2af3dbe6.c7dff4","type":"ui_group","name":"Plots","tab":"2dc1469e.70b4aa","order":6,"disp":true,"width":"6","collapse":false},{"id":"8e9a61dc.87a7c","type":"ui_group","name":"Warnings","tab":"be63eb3b.3fca78","order":8,"disp":true,"width":"6","collapse":false},{"id":"ee9b453c.91b0e8","type":"mqtt-broker","name":"","broker":"http://broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"be63eb3b.3fca78","type":"ui_tab","name":"Settings","icon":"dashboard","disabled":false,"hidden":false},{"id":"61211701.1a1cf8","type":"ui_tab","name":"Weather","icon":"dashboard","disabled":false,"hidden":false},{"id":"2dc1469e.70b4aa","type":"ui_tab","name":"Charts","icon":"dashboard","disabled":false,"hidden":false}]